<!doctype html>
<html>
  <head>
    <!-- Set the title dynamically with the shopName variable -->
    <title>About <%=shopName%></title>
    <!-- Link to the main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Display the shopName in the heading -->
    <h1>About <%=shopName%></h1>
    <!-- Provide a brief description of the shop -->
    <p>We sell all sorts of books and nothing else!</p>
  </body>
</html>
